
.portfolio__items {
    width: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    padding: var(--section-padding) 0;
    grid-gap: 50px;
    grid-row-gap: 100px;
    @include responsive('small-tablet') {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 50px;
    }
    @include responsive('mobile') {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
    }
}

.portfolio__item {
    .portfolio__card {
        padding: 15px;
        background-color: #fafafa;
        box-shadow: -4px 2px 12px rgba(0, 0, 0, 0.09);
        transition: 0.1s ease-in-out;

        &:hover, &:focus, &:active {
            box-shadow: -4px 2px 16px rgba(0, 0, 0, 0.2);
            transform: scale(1.025);
        }
    }

    /**/
    .portfolio__image {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.09);
    }

    .portfolio__link {
        position: relative;
        display: block;
        margin-top: var(--spacing-8);
        color: var(--color-accent);
        text-align: center;
        text-decoration: none;
        transition: var(--transition);

        &:before {
            position: absolute;
            content: '';
            z-index: 2;
            bottom: -14px;
            left: 50%;
            width: 0;
            height: 3px;
            background-color: var(--color-accent);
            transition: 0.2s ease-in-out;
            transform: translateX(-50%);
        }

        &:hover, &:focus, &:active {
            &:before {
                width: 50%;
            }
        }
    }
}
