@import url('https://fonts.googleapis.com/css?family=Inter:400,500,700|Roboto+Slab:800&display=swap');

:root {
    --color-text: #252627;
    --color-text-rgb: 37, 38, 39;
    --color-background: #fafafa;
    --color-background-rgb: 250, 250, 250;
    --color-accent: #e8472b;
    --color-accent-rgb: 232, 71, 43;
    --font-family: Inter;
    --font-family-blog-content: 'Roboto Slab';
    --font-family-backup: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', sans-serif;
    --font-size-root: 10px;
    --font-size-smaller: 1.2rem;
    --font-size-p: 1.6rem;
    --font-size-nav: 1.6rem;
    --font-size-hero: 7.2rem;
    --font-size-h1: 6.4rem;
    --font-size-h2: 3.6rem;
    --font-size-h3: 2.4rem;
    --font-size-h4: 2rem;
    --font-size-button: 1.4rem;
    --font-weight-p: 300;
    --font-weight-nav: 500;
    --font-weight-headings: 700;
    --font-weight-subheading: 300;
    --font-weight-button: 500;
    --font-line-height: 1.6;
    --page-container-max-width: 120rem;
    --section-padding: 8rem;
    --header-height: 8rem;
    --header-padding: 1rem;
    --header-border-bottom: rgba(0, 0, 0, 0.15) 0px -1px 0px 0px inset;
    --footer-padding: 2rem;
    --spacing-1: 0.4rem;
    --spacing-2: calc(var(--spacing-1) * 2);
    --spacing-3: calc(var(--spacing-1) * 3);
    --spacing-4: calc(var(--spacing-1) * 4);
    --spacing-5: calc(var(--spacing-1) * 5);
    --spacing-6: calc(var(--spacing-1) * 6);
    --spacing-7: calc(var(--spacing-1) * 7);
    --spacing-8: calc(var(--spacing-1) * 8);
    --transition: 0.1s ease-in-out;
    --transition-2: 0.2s ease-in-out;
}

html {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family), var(--font-family-backup);
    font-size: var(--font-size-root);
    line-height: var(--font-line-height); // calc(2px + 2ex + 2px);
    ::selection {
        background-color: rgba(var(--color-accent-rgb), 0.7);
        color: var(--color-background);
    }
}

body {
    margin-bottom: var(--font-size-p);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
    line-height: var(--font-line-height);
}

p {
    margin-bottom: var(--font-size-p);
    font-weight: var(--font-weight-p);
    line-height: var(--font-line-height);
}

ul, ol {
    margin-bottom: var(--font-size-p);
}

h1, h2, h3, h4, h5, h6, {
    margin-bottom: var(--font-size-p);
    line-height: 1;
}

.hero h1 {
    font-size: var(--font-size-hero);
    font-weight: var(--font-weight-headings);

    & + .h2 {
        font-weight: var(--font-weight-subheading);
    }

    @include responsive('small-tablet') {
        font-size: calc(var(--font-size-hero) * 0.8);
    }
    @include responsive('mobile') {
        font-size: calc(var(--font-size-hero) * 0.6666666);
    }
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-headings);

    & + .h3 {
        font-weight: var(--font-weight-subheading);
    }
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-headings);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-headings);
}

h4 {
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-headings);
}

small {
    font-size: var(--font-size-smaller);
    font-weight: var(--font-weight-p);
}

span.highlight {
    display: inline-block;
    cursor: pointer;

    &:hover, &:focus, &:active {
        position: relative;
        color: var(--color-background);
        transition: color 0.1s;

        &:before {
            position: absolute;
            content: '';
            z-index: -1;
            width: 100%;
            height: 95%;
            background: var(--color-accent);
            box-shadow: 4px 4px 0px 0px var(--color-text);
            transition: 0.1s;
            transform: rotate(-2deg);
        }
    }
}