@import url('https://fonts.googleapis.com/css?family=Inter:400,500,700|Roboto+Slab:800&display=swap');

html {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family), var(--font-family-backup);
    font-size: var(--font-size-root);
    line-height: var(--font-line-height); // calc(2px + 2ex + 2px);
    ::selection {
        background-color: rgba(var(--color-accent-rgb), 0.7);
        color: var(--color-background);
    }
}

body {
    margin-bottom: var(--font-size-p);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
    line-height: var(--font-line-height);
}

p {
    margin-bottom: var(--font-size-p);
    font-weight: var(--font-weight-p);
    line-height: var(--font-line-height);
}

ul, ol {
    margin-bottom: var(--font-size-p);
}

h1, h2, h3, h4, h5, h6, {
    margin-bottom: var(--font-size-p);
    line-height: 1;
}

.hero h1 {
    font-size: var(--font-size-hero);
    font-weight: var(--font-weight-headings);

    & + .h2 {
        font-weight: var(--font-weight-subheading);
    }

    @include responsive('small-tablet') {
        font-size: calc(var(--font-size-hero) * 0.8);
    }
    @include responsive('mobile') {
        font-size: calc(var(--font-size-hero) * 0.5);
    }
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-headings);

    & + .h3 {
        font-weight: var(--font-weight-subheading);
    }
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-headings);
    @include responsive('small-tablet') {
        font-size: calc(var(--font-size-h2) * 0.8);
    }
    @include responsive('mobile') {
        font-size: calc(var(--font-size-h2) * 0.5);
    }
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-headings);
}

h4 {
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-headings);
}

small {
    font-size: var(--font-size-smaller);
    font-weight: var(--font-weight-p);
}

span.highlight {
    position: relative;
    display: inline-block;
    color: var(--color-background);
    transition: color 0.1s;

    &:before {
        position: absolute;
        content: '';
        z-index: -1;
        bottom: -2%;
        left: -3.5%;
        width: 107%;
        height: 100%;
        background: var(--color-accent);
        box-shadow: 4px 4px 0px 0px var(--color-text);
        transition: 0.1s;
        transform: rotate(-2deg);
    }

    &.on-hover {
        cursor: pointer;
        color: var(--color-text);

        &:before {
            background: transparent;
            box-shadow: 4px 4px 0px 0px transparent;
        }

        &:hover, &:focus, &:active {
            color: var(--color-background);

            &:before {
                background: var(--color-accent);
                box-shadow: 4px 4px 0px 0px var(--color-text);
            }
        }
    }
}